@model Todo;
@{
    ViewData["Title"] = "Delete Task";
}

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark">Delete Task</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="TaskName"></label>
            <input asp-for="TaskName" disabled class="form-control mt-2"/>
        </div>
        <div class="mb-3">
            <label asp-for="TaskData"></label>
            <input asp-for="TaskData" disabled class="form-control mt-2"/>
        </div>
        <div class="mb-3">
            <label asp-for="TaskStatus"></label><br/>
            <input asp-for="TaskStatus" disabled class="mt-3" type="radio" value="Incomplete"/><label>Incomplete</label><br/>
            <input asp-for="TaskStatus" disabled class="mt-2" type="radio" value="Doing"/><label>Doing</label><br/>
            <input asp-for="TaskStatus" disabled class="mt-2" type="radio" value="Complete"/><label>Complete</label><br/>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Todo" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}