@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 mb-5" style="font-weight: bold">Welcome to TodoList Dotnet App</h1>
    <p>Learn More <a href="https://github.com/ratikaewkam/TodoList-DotnetCoreMVC">Source Code [GitHub]</a></p>
    <a asp-controller="Todo" asp-action="Index" class="btn btn-primary mt-5" style="width: 200px; margin-bottom: 250px">Get Started</a>
</div>
